@import "../partials/reset";
@import "../partials/bottoni";
@import "../partials/animazionni";
@import "../partials/colori";
@import "../partials/font";
@import "../partials/mixins";
@import "../partials/spaziature";

nav {
  display: flex;
  width: 100%;

  height: 100px;
  background-color: aqua;
}
.container {
  justify-content: space-around;
  margin-top: 5rem;
  display: flex;
  background-color: antiquewhite;
}
a {
  align-self: center;
  margin-right: 10px;
  font-size: 30px;
}
.card {
  border-radius: 60px;
  animation: slidein 1s 8s backwards, fade-in 3s;
  transform: rotate(+8deg);
  width: 18%;
  height: 280px;
}
.bottoni {
  color: $grigio;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
button:nth-of-type(2) {
  @include bottoni($blu, $padding);
}
button:nth-of-type(1) {
  @include bottoni($arancione, $padding);
}
button:nth-of-type(3) {
  @include bottoni($verde, $padding);
}
.img1 {
  transition: all 1s 1s;
  animation: slidein 10s 8s backwards, fade-in 10s;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section {
  margin-top: 20px;
  width: 100%;
  height: 200px;
  background-color: lawngreen;
  display: flex;
  justify-content: space-around;
  font-size: 50px;
  align-items: center;
}
.box1 {
  width: 290px;
}
h1 {
  @include prova();
}
